.games-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../../imgs/que-son-esports.jpg");
}

.nonono {
    width: 800px;
}

.loading {
    width: 500px;
}